#REENVÍA DE HTTP A HTTPS, COLOCAR EN RAIZ
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]MIN
Header always set Content-Security-Policy "upgrade-insecure-requests;"