<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
  <a routerLink="/pages/dashboard" class="al-logo clearfix"><span>PROJECTNAME </span></a>
  <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>
  <!--
  <div class="search">
    <i class="ion-ios-search-strong" (click)="buscarOrden(searchInput.value, $event)"></i>
    <input #searchInput id="searchInput" type="text" placeholder="Orden Folio" (keydown.enter)="buscarOrden(searchInput.value, $event)">
  </div>
  <div class="search" *ngIf="!user.idempleado">
    <i class="ion-ios-search-strong" (click)="buscarCliente($event)"></i>
    <input type="text" placeholder="Filtro Cliente" [(ngModel)]="clienteFilter" (ngModelChange)="onKeydownEvent($event)" [ngModelOptions]="{standalone: true}">
  </div> 
  <div class="search" *ngIf="!user.idempleado">

    <select [(ngModel)]="cliente_idcliente" class="form-control">
      <option value="">SELECCIONA</option>
      <option value="{{item.idcliente}}" *ngFor="let item of _clienteFiltered">{{item.razonsocial}}</option>
    </select>
  </div>-->

  <div class="user-profile clearfix">
    <div class="dropdown al-user-profile">
      <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
        <img src="./assets/img/theme/no-photo.png">
      </a>
      <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
        <li class="text-info text-center">
          <small>
            {{user.usuario}}
          </small>
        </li>
        <li *ngIf="!isAuth" class="dropdown-item"><a routerLink="/login"><i class="fa fa-user"></i>Accesa</a></li>
        <!-- <li *ngIf="isAuth && user.idpropietario" class="dropdown-item"><a routerLink="/pages/clientes/"><i class="fa fa-user"></i>Mi Panel</a></li> -->
        <li *ngIf="isAuth && changepasswordAcceso" class="dropdown-item"><a routerLink="/change-password"><i class="fa fa-cog"></i>Contraseña</a></li>
        <li *ngIf="isAuth" class="dropdown-item"><a href="#" (click)="logout()" class="signout"><i class="fa fa-power-off"></i>Cerrar sesión</a></li>
      </ul>
    </div>
    <ba-msg-center></ba-msg-center>
  </div>
</div>
