<div class="widgets">
    <div class="row">
        <ba-card title="Listado" baCardClass="with-scroll" class="data-table-container">
            <div class="panel panel-default">
                <!-- <div class="panel-heading">Información de Ordenes</div> -->

                <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th style="width: 50%"></th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="factura">Factura</mfDefaultSorter>
                            </th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="fecha">Fecha</mfDefaultSorter>
                            </th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="status_avance">Status Avance</mfDefaultSorter>
                            </th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="status_pago">Status Pago</mfDefaultSorter>
                            </th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="subtotal">SubTotal</mfDefaultSorter>
                            </th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="total">Total</mfDefaultSorter>
                            </th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="iva">Iva</mfDefaultSorter>
                            </th>

                            <th style="width: 5%">
                                <mfDefaultSorter by="deuda">Deuda</mfDefaultSorter>
                            </th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="f_limite">Fecha Limite</mfDefaultSorter>
                            </th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="Cliente_idCliente">Cliente</mfDefaultSorter>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mf.data;  let i = index">
                            <td>
                                <button (click)="editOrdenesModalShow(item)" class="btn btn-sm btn-info"><i class="fa fa-edit"></i></button>
                                <button (click)="onDeleteConfirm($event, item.idOrden)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                                <button (click)="uploadModalShow(item.idOrden, item.factura)" class="btn btn-sm btn-success"><i class="fa fa-file"></i></button>
                                <button (click)="filesModalShow(item.idOrden)" class="btn btn-sm btn-warning"><i class="fa fa-eye"></i></button>
                            </td>
                            <td>{{ item.factura }}</td>
                            <td>{{ item.fecha | date:'dd/MM/y'  }}</td>
                            <td>{{ item.status_avance }}</td>
                            <td>{{ item.status_pago }}</td>
                            <td>{{ item.subtotal }}</td>
                            <td>{{ item.total }}</td>
                            <td>{{ item.iva }}</td>
                            <td>{{ item.deuda }}</td>
                            <td>{{ item.f_limite | date:'dd/MM/y'  }}</td>
                            <td>{{ item.Cliente_idCliente }}</td>

                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </ba-card>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <button (click)="addOrdenesModalShow()" class="btn btn-success"><i class="fa fa-plus"></i> Agregar</button>
        </div>
    </div>

</div>
